.logocover{
  width:max-content 
}
.logocover-img{
  width:650px;
  height: 350px;
  margin-left: 20px;
}
.LGpage-container {
 width: 1536px;
 height:753px;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
  background: linear-gradient(90deg, #62E2FB 0.01%, #49C5DD 100%);
}

.login-h2-div{
  width: 300px;
  height: auto;
  margin-left: 80px;
  padding: 1px;
}
.login-h2-div h1
{
  color: #FFF;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height:80px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-height: 753px;
  flex-direction: column;
}

.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 10px;
}

.col-8 {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding: 10px;
}



.phonenumberinput{
  font-size: small;
  font-weight: 700;
}

.Login_container{
  background: rgba(255, 255, 255, 0.30);
max-width: 500px;
max-height: 500px;
margin-left: 100px;
  align-self: flex-end;
  border-radius: 8%;
  margin-top: 80px;
}
.MobileLoginForm p{
  padding: 0;
  margin:0px 0px 0px 5px;
  font-size: small;
}
/* .Login_contant h3{
  font-size: larger;
  font-weight: 500;
  padding-top: 50px;
  margin-left: 125px;
} */
/* .MobileLoginForm{
  width: 500px;
  height: 100px;
  padding-left: 40px;
} */
/* .Login_contant{
  margin: 10px;
} */


#recaptcha-container {
  display: flex;
  align-items: center;

  margin-top: 20px;
}
#formBasicotp{
  margin: auto;
  height: 25px;

}

.EnterOtp-div{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.EnterOtp-input{
  margin: auto;
  height: 25px;
}
/* .Login-form form button
{
    margin-top: 10px;
    width: 80px;
    padding: 10px 0px;
    border: none;
    outline: none;
    background:none;
    margin-left: 5%;
    background: #010f1c;
    color: #fff;
    cursor: pointer;
} */
.button-right{
  display: flex;
  align-items: center;
  justify-content: center;
}
.PhoneInput {
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  width: 50%;
  
}

/* Style the country select dropdown */
.PhoneInputCountrySelect {
  width: 250px; /* Customize the width of the dropdown */
  border: 1px solid #ccc; /* Customize the dropdown border */
  border-radius: 5px; /* Customize border radius */
  padding: 10px; /* Customize padding */
  display: non;
}

/* Style the input element */












  
  /* .form {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 10px 20px 25px 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  } */
  
  h2 {
    color: #2a1e17;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
/*  
  
  button {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #024172;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
  } */
  
  /* button:hover {
    background-color: #01305b;
  } */
  
  .otp-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .otp-input span {
    margin: 0 5px;
    font-size: 20px;
    font-weight: 700;
    color: #2a1e17;
  }
