
._1Us3XD{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(8, 8, 8);
    border: 2px solid white;
}
.profile-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  object-fit: cover; 
}
.Profile-Name-heading{
  color: blue;
  padding-left: 10px;
}
.nav-usericon{
  height:40px;
  width: 30px;
}
.userdisplay{
  margin-right: 50px;
  font-size: 20px;
}

._1TOQfO{
  
  font-size: 16px;
/* line-height: 24px; */
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 120px;
  height: auto;
}
.-dOa_b.L_FVxe {
  margin-right: 8px;
}
._1sLnDu{
  padding-left: 15px;
  font-size: 28px;
  width: 50px;
  height: 40px;

}
.H6-NpN{
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 8px;
  width:120px;
  height: 40px;
}

#navbar-row{
  border-radius: 8px;  
  position: fixed;
  width:100%;
top: 0;
left: 0;
height: 80px;
background: var(--p-01, #024172);
display: flex;
/* padding: 0 20px; */
z-index: 1000; 
align-items: center;
justify-content: space-between;
}
#navbar-row-col-2{
display: flex;
width: auto;
align-items: center;
float: left;
width: auto;
align-items: center;
}
#navbar-row-col-4{
  display: flex;
width: auto;
align-items: center;
float: left;
width: auto;
align-items: center;
}
#navbar-row-col-6{
  /* margin: auto; */
}
#navbar-userdisplay-col-2{
  /* margin-left: auto; */
  color: var(--white-lit, #ffffff);
  /* margin-right: 40px; */
  display: flex;
  align-items: center;
}
#navbar-userdisplay-col-2:hover{
  cursor: pointer;
}
.col-2-items{
  /* padding-left: 500px; */
}

.logo{
  color: #ffffff;
  text-align: left;
  font: 700 30px 'Poppins', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  margin: auto;
  cursor: pointer;
}
.Location{
  display: flex;
    width: auto;
    color: white;
    padding-left: 50px;
    align-items: center;
    justify-content: space-between;
}
.LocationBox{
  display: flex;
  /* width: auto; */
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
    /* border-style: ridge; */
    /* border-color: #fff; */
    /* border-width: 1px; */
    padding: 0px 10px 0px 10px;
    /* width: 100px; */
    min-width: 100px;
    height: 35px;
    border: 1.108px solid var(--White_Lit, #FFF);
}
.Location:hover{
  cursor: pointer;
}


.cityname {
 color: var(--white-lit, #ffffff);
  text-align: left;
  font: var(--h-2-14-r, 400 14px 'Poppins', sans-serif);
  position: relative;
  display: flex;
  padding-left: 10px;
}
.cityname p {
padding: 0px ;
 }
 .navsearchinput-container {
  position: relative;
}
.navsearchinput {
  padding-left: 30px; /* Adjust as necessary based on the size of your icon */
}
.navsearchicon {
  padding-top: 5px;
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust as necessary based on the size of your icon */
  transform: translateY(-50%);
}
.navsearchinput{
  background: rgba(255, 255, 255, 0.30);
  border-radius: 8px;
  padding: 2px 2px 2px 20px;
  border: 1.108px solid var(--White_Lit, #FFF);
  width: auto;
  height: 35px;
  width: 400px;

}
.navsearchinput::placeholder {
  padding-left: 15px;
  color: #FFF; /* Set the color you want for the placeholder text */
}
.MySubscriptionsBtn{
  border: none;
  color: white;
  background: none;
  font-size: medium;
}
.Cart-icon{
  height: 35px;
  width: auto;
  color: #FFF;
  margin-left: 25px;
}
.wishlist-icon{
  height: 35px;
  width: auto;
  color: #FFF;
  margin-left: 10px;
  margin-right: 30px;

}

.userdisplay {
  color: var(--white-lit, #ffffff);
  margin-right: 30px;
}


.userdisplay-dropdown-content{
  display: none;
  position: absolute;
  background-color: rgb(249, 249, 249);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 250px;
  border-radius: 10px;
  margin-left: 180px;

}

.userdisplay-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.userdisplay-dropdown-content a:hover {
  background-color: #f1f1f1;
}

#navbar-userdisplay-col-2:hover .userdisplay-dropdown-content {
  display: block;
}

.MySubscriptionsBtn {
  cursor: pointer;
}
