.payment-status{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-status-dialog-box{
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
    width: 630px;
    height: 787px;
}
.payment-status-image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 174px;
object-fit: cover;
}

.payment-status-message{
    text-align: center;
}
.Success{
    width: 100%;
position: relative;
font-size: 20px;
font-weight: 600;
font-family: Poppins;
color: #04d97c;
display: inline-block;
}
.Failed{
    width: 100%;
position: relative;
font-size: 16px;
font-weight: 600;
font-family: Poppins;
color: #ce1d11;
text-align: center;
display: inline-block;
}
.failed-message{
    position: relative;
font-size: 14px;
font-family: Poppins;
color: rgba(51, 51, 51, 0.6);
text-align: center;
display: inline-block;
width: 453px;
}
.line{
    margin: 0px 65px 0px 65px;
}
.payment-order-div{
    position: relative;
font-size: 14px;
font-weight: 600;
font-family: Poppins;
color: #024172;
text-align: center;
margin: 0px 65px 0px 65px;
}
.my-orders-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-summary-div{
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: Poppins;
    color: #024172;
    text-align: center;
    margin: 0px 65px 0px 65px;
}















.payment-button-field{
    display: flex;
    justify-content: space-between;
    padding: 0px 48px 35px 48px;
    margin-top: auto;
}
.paymnet-done{
    position: relative;
border-radius: 3.75px;
background-color: #f6f6f6;
border: 0.8px solid #171717;
box-sizing: border-box;
width: 150px;
height: 36px;
overflow: hidden;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 12.75px 7.5px;
text-align: center;
font-size: 16px;
color: #171717;
font-family: Poppins;
}
.paymnet-go-to-home{
    position: relative;
border-radius: 3.75px;
background-color: #024172;
width: 150px;
height: 36px;
overflow: hidden;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 12.75px 7.5px;
box-sizing: border-box;
cursor: pointer;
text-align: center;
font-size: 14px;
color: #fff;
font-family: Poppins;
font-weight: 600;
}