.payment-status{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-status-dialog-box{
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
    width: 630px;
    height: auto;
}
.payment-status-image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 174px;
object-fit: cover;
}

.payment-status-message{
    text-align: center;
}
.Success{
    width: 100%;
position: relative;
font-size: 20px;
font-weight: 600;
font-family: Poppins;
color: #04d97c;
display: inline-block;
}
.Failed{
    width: 100%;
position: relative;
font-size: 16px;
font-weight: 600;
font-family: Poppins;
color: #ce1d11;
text-align: center;
display: inline-block;
}
.failed-message{
    position: relative;
font-size: 14px;
font-family: Poppins;
color: rgba(51, 51, 51, 0.6);
text-align: center;
display: inline-block;
width: 453px;
}
.line{
    margin: 0px 65px 0px 65px;
}
.paymentstatus-subscriptionplan-details{
    display: flex;
  justify-content: center;
}
.your-order{
    color: #024172;
    text-align: center;
    font-weight: 600;
    font-family: Poppins;
}
.payment-order-div{
    position: relative;
margin: 10px 180px;
height: 100px;
overflow-y: auto;
}
.my-orders-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.Paymentstatus-product-card{
    display: flex;
    width: 250px;
    height: 80px;
    border-radius: 7.5px;
background-color: #f1f1f1;
border: 0.4px solid #848484;
box-sizing: border-box;
text-align: center;
color: #191919;
font-family: Poppins;
margin-top: 10px;
}
.Paymentstatus-product-card-image{
    width: 100px;
    height: 80px;
    border-radius: 7.5px;
    padding:2px;
}
.Paymentstatus-product-card-body{
width: 150px;
}
.Paymentstatus-product-card-title{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    
}
.payment-product-title{
    position: relative;
font-size: 15px;
font-weight: 500;
font-family: Poppins;
color: #171717;
text-align: left;
}
.payment-product-size{
    display: flex;
    position: relative;
font-size: 11px;
font-weight: 300;
font-family: Poppins;
color: #171717;
text-align: left;
display: inline-block;
width: 25.5px;
height: 14.25px;
}















.payment-summary-div{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 125px;
}
.payment-summary-deytails{
    margin: 0px 170px;
}
.payment-id{
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: Poppins;
    color: #535353;
}
.payment-date{
    flex: 1;
    width: 100%;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: Poppins;
    color: #535353;
    text-align: left;
    display: inline-block;
}




















/* button */
.payment-button-field{
    display: flex;
    justify-content: space-between;
    padding: 0px 48px 35px 48px;
    margin-top: auto;
}
.paymnet-done{
    position: relative;
border-radius: 3.75px;
background-color: #f6f6f6;
border: 0.8px solid #171717;
box-sizing: border-box;
width: 150px;
height: 36px;
overflow: hidden;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 12.75px 7.5px;
text-align: center;
font-size: 16px;
color: #171717;
font-family: Poppins;
}
.paymnet-go-to-home{
    position: relative;
border-radius: 3.75px;
background-color: #024172;
width: 150px;
height: 36px;
overflow: hidden;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 12.75px 7.5px;
box-sizing: border-box;
cursor: pointer;
text-align: center;
font-size: 14px;
color: #fff;
font-family: Poppins;
font-weight: 600;
}