.susbcriptionmodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border: 1px solid #888;
    max-width: 700px; /* Adjust the width as needed */
    width: 600px;
    display: block;
    height: 450px;
    padding: 0PX 20PX 20PX 20PX;
  }
  .susbcriptionmodal-header{
    display: flex;
   justify-content: center;
  }
  .susbcriptionmodal-Title{
    PADDING: 5PX 0PX 0PX 0PX;
  }
  .susbcriptionmodal-Title h2{
    PADDING: 10PX 0PX 0PX 0PX;
    margin: 0px 0px 0px 0px;
  }
  .btn-close{
    height: min-content;
  }
  .susbcriptionmodal-body{
    PADDING: 15PX 0PX 0PX 0PX;
  }
  .susbcriptionmodal-body .productbox-container
    {
    padding: 0px 0px 0px 129px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
  }

  .product-card-body .Price-QtyDiv .QuantitySelectDropdown{
  width: 80px;
  height: 20px;
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 5px;
  }
  .modal-content {
    text-align: center;
  }
  

  
  img {
    max-width: 100%;
    height: auto;
  }

  .subscriptionmodal-product-card{
    /* width: 16rem; */
    overflow: hidden;
    border: 1px solid #e2e0e0;
    /* margin-bottom: 20px; */
    transition: 0.5s;
    cursor: pointer;
    /* margin-right: 10px; */
    border-radius: 10px;
border: 0.5px solid #848484;  
background: #F1F1F1;
position: relative;
/* max-height: 400px; */
height: 129px;
    margin: 0px 0px 0px 0px;
    width: 300px;
  }
  .subscriptionmodal-product-card .product-card-body{
    display: flex;
    width: 300px;
  }
  .subscriptionmodal-product-card .product-card-body .productcard-imagediv{
    width: 50%;
    height: 130px;
    overflow: hidden; 
  }

  .subscriptionmodal-product-card Img{
    width: 100%;
    height: 135px;
    object-fit: cover;
  }
  .product-card-text {
    margin: 0px 0px 0px 0px;
  }
  .subscriptionmodal-product-card .product-card-body .Price-QtyDiv {
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px 5px 0px; */
    width: 60%;
 
   }
   .subscriptionmodal-product-card .product-card-body .Price-QtyDiv h2{
   margin: 0px 0px 0px 0px;
   }

   .subscriptionmodal-product-card .product-card-body .priceAndSizeDiv{
    display: flex;
    ALIGN-ITEMS: center;
    JUSTIFY-CONTENT: center;
    PADDING: 10PX 0PX 0PX 0PX;
   }
   .subscriptionmodal-product-card .product-card-body .priceAndSizeDiv h4{
    MARGIN: 0PX 0PX 0PX 0PX;
    font-size: 20px;
   }
   .Price-QtyDiv .quantity-incredecre{
    margin: 25px 10px 0px 31px;
    display: flex;
    background: var(--P01, #024172);
    height: 30px;
    width: 100px;
   }
   .Price-QtyDiv .quantity-incredecre .btn-incre{
    width: 50px;
    margin: 5px 5px 5px 0px;
    border-radius: 10px;
    border: 0.5px solid #848484;
   }
   .Price-QtyDiv .quantity-incredecre .qtyvalue{
    color: #FFF;
   }
   .Price-QtyDiv .quantity-incredecre .btn-decre{
    width: 50px;
    margin: 5px 0px 5px 5px;
    border-radius: 10px;
    border: 0.5px solid #848484;
  
   }
   .qtyvaluediv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
   }
   .susbcriptionmodal-footer{
    padding: 50px;
   }

   .subscriptionModal-btndiv{
    display: flex;
    justify-content: space-between;
   }
   .subscriptionmodal-closeBtn{
    HEIGHT: 30PX;
    BACKGROUND: #FFF;;
    BORDER-RADIUS: 10%;
    WIDTH: 20%;
   }
   .subscriptionmodal-Addtocartbtn{
    HEIGHT: 30PX;
    BACKGROUND: #66BCFF;;
    BORDER-RADIUS: 10%;
    WIDTH: 20%;
    color: #FFF;
   }
   .subscriptionmodal-paynowbtn{
    HEIGHT: 30PX;
    BACKGROUND: var(--P01, #024172);
    BORDER-RADIUS: 10%;
    WIDTH: 20%;
    color: #FFF;
   }
   .SubscriptionTypes-div{
    display: flex;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
   }
  .subscription-type-card{
      /* width: 16rem; */
      overflow: hidden;
      border: 1px solid #e2e0e0;
      /* margin-bottom: 20px; */
      transition: 0.5s;
      cursor: pointer;
      /* margin-right: 10px; */
      border-radius: 10px;
  border: 0.5px solid #848484;  
  background: #F1F1F1;
  position: relative;
  /* max-height: 400px; */
      margin: 0px 10px 0px 5px;
      width: 300px;
      padding: 10px 10px 10px 10px;
      Width: 18rem;
    padding: 15px 10px 10px 10px;
    height: 120px;

  }
  .selected{
    background-color:aqua;
  }
  .subscription-type-card-title{
    margin: 0px 0px 0px 0px;
  }
  .subscription-type-card-text{
    margin: 0px 0px 0px 0px;
  }
  .subscriptiontype-button{
    FONT-SIZE: larger;
    HEIGHT: 40PX;
    BACKGROUND: var(--P01, #024172);
    BORDER-RADIUS: 8px; 
    WIDTH: 150PX;
    color: #FFF;
  }
  .susbcriptionpricedeiv{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px 0px 0px 45px;
  }
  .susbcriptionpricedeiv h3{
    padding-left: 50px;
  }
  .susbcriptiondiscount-div{
    margin-left: 18px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .susbcriptiondiscount-div h5{
    text-decoration: line-through;
    font-weight: 300;
    font-weight: 300;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
  }
  .susbcriptiondiscount-div h4{
    margin: 0px 0px 0px 0px;
    font-weight: 200;
  }
